
# Project files
proj/

# Build output
build/

# Temporary files
temp/

# Python cache files
__pycache__/

# Editor files
.vscode/

# Coverage files
*.lcov
*.gcov
*.gcda
*.gcno

# FBX backup files

*.bck/

# ufbx-rs-native
rust/target/
bindgen/build/
rust/tools/mathfuzz/target/
unsafe_history.csv
unsafe_history.svg
.DS_Store
